/* 
універсальний - *
тега - a
айді - #
class = rulez!
атрибут = [type} - [type]="button{}
дочірній = .header > a (перша вкладеність)
нащадка = .header a (нащадка - тобто для всіх а в межах хедеру)
*/
/* a {
  text-decoration: none;
} */
:root {
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --accent-color: #ff6c00;
  --gray-blue: #9da4bd;
  --transparent-color: rgba(157, 164, 189, 0.6);
  --gray-light: #555555;
  --main-margin: 20px;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
/* Utilite clasese */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18px;
  letter-spacing: 0.05em;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-color);
}
.btn:hover,
.btn:active {
  background-color: var(--accent-color);
}
button {
  cursor: pointer;
}
.vissually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
/* Head styles*/
.header {
  background-color: gray;
}
.header-logo {
  padding: 32px 0px;
  display: block;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}
.header-btn {
  color: #ffffff;
}
.pre-title {
  font-weight: 600;
  line-height: 1.36px;
  text-transform: uppercase;
}
.after-title {
  font-size: 18px;
  line-height: 1.67em;
  letter-spacing: 0.02em;
}
/*head styles end*/
/* index-section: Hero*/
.hero {
  background-color: gray;
}
.hero-right {
  padding: 184px 526px 208px 100px;
}
.sub-title {
  margin-top: var(--main-margin);

  color: var(--transparent-color);
}
.hero-title {
  color: var(--second-header-color);
}
.hero-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--gray-blue);
}
.hero-links {
  font-weight: 600;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.2em;
  color: var(--gray-light);
}
.hero-links:hover,
.hero-links:focus {
  color: var(--orange-color);
}
/* index-section: about*/
.about-pre-title {
  color: var(--primary-header-color);
}
.about-title {
  color: var(--primary-header-color);
}
.about-after-title {
  color: var(--gray-light);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--gray-light);
}
.about-btn {
  color: var(--gray);
}

/* index-section: service and prices */
.prices-pre-title {
  color: var(--transparent-color);
}
.prices-title {
  color: var(--second-header-color);
}
.prices-elem {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--gray-blue);
}
.prices-btn {
  color: var(--accent-color);
}
/* index-section: benefits (why with us) */
.benefits-items > span {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-header-color);
}
.benefits-items > sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
.benefits-pre-title {
  color: var(--primary-header-color);
}
.benefits-title {
  color: var(--primary-header-color);
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--gray-light);
}
/* index-section: barbers */
.barbers-pre-title {
  color: var(--primary-header-color);
}
.barbers-title {
  color: var(--primary-header-color);
}
.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
}
.barbers-info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* index-section: gallery */
.gallery-pre-title {
  color: var(--primary-header-color);
}
/* index-section: form */
.form-title {
  color: var(--primary-header-color);
}
/* index-section: contacts */
.contacts {
  background-color: var(--primary-header-color);
}
.contacts-title {
  color: var(--second-header-color);
}
.contacts-links {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-address {
  font-weight: 700;
  font-style: normal;
}
.contacts-pre-title {
  color: var(--primary-link-color);
}
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}
/* index-secrion: footer */
.footer-copy {
  font-weight: 600;
  line-height: 1.36;
  letter-spacong: 0.02em;
  color: #9da4bd;
}
.footer-links {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
}
.footer-links:hover, .footer-links:focus {
  color: var(--accent-color);
}